{% extends "base.html" %}

  {% block content %}
    <div class="summary-container">
      <form action="" method="get">
        <div>
          <label for="location_id">Списък с квартали: </label>
          <input type="text" id="location_id" placeholder="Редута, Сухата река..."></input>
        </div>
        <div>
          <label for="source_id">Списък от източници: </label>
          <input type="text" id="source_id" placeholder="Ex:imotbg, era, yavlena..."></input>
        </div>
        <div>
          <label for="home_type_id">Списък от типове апартаменти: </label>
          <input type="text" id="home_type_id" placeholder="Едностаен, Двустаен..."></input>
        </div>
        <div>
          <label for="price_id">Цена по ниска от: </label>
          <input type="number" id="price_id"></input>
        </div>
        <div>
          <label for="size_id">Квадратура повече от: </label>
          <input type="number" id="size_id"></input>
        </div>
        <input type="submit" value="Filter">
        <input type="submit" value="Download dataset">
      </form>
    </div>
    {% for each_ad in ad_list %}
    <span class="card custom-card" style="width: 18rem;">
      <div class= "header" id="{{ each_ad.source_name }}"> Взето от: {{ each_ad.source_name }}
      </div>
      <img src="{{ each_ad.image }}" class="card-img-top" alt="test">
      <div class="card-body">
        <h5 class="card-title">Обява № {{ each_ad.id }}</h5>
        <p class="card-text">
        <b>Тип на имота</b>: {{ each_ad.home_type }}  <br>
        <b>Площ</b>: {{ each_ad.home_size }} кв.м<br>
        <b>Квартал</b>: {{ each_ad.location }}  <br>
        <b>Цена</b>: €{{ "{:,}".format(each_ad.price) }}  <br>
        <b>Дата на вземане</b>: {{ each_ad.scraping_date }}
        </p>
        <a href="{{ each_ad.url }}" class="btn btn-primary">Към страницата на обявата</a>
      </div>
    </span>
    {% endfor %}
  {% endblock %}


