<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Imot Tracker</title>
  <meta name="description" content="Combined homes ads.">
  <meta name="author" content="Marin Dimitrov">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">Начало</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavigation">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="new-ads">Нови обяви</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="all-ads">Всички обяви</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data">Допълнителни Данни</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
<div class="container">
{% block content %}

{% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>

  $ (document).ready(function(){
    var $filter_btn = $("#filter-btn").on("click", function(){
      var filters_arr = [];
      var loc = $("#locations-id").val();
      var source = $("#source-id").val();
      var home_type = $("#apartment-type-id").val();
      var size = $("#size-id").val();
      var price = $("#price-id").val();
      if (loc) {
        filters_arr.push(`location=${loc}`);
      }

      if (source) {
        filters_arr.push(`source_name=${source}`);
      }

      if (home_type) {
        filters_arr.push(`home_type==${home_type}`);
      }

      if (size) {
        filters_arr.push(`home_size=${size}`);
      }
      if (price) {
        filters_arr.push(`price=${price}`);
      }

      var filters = filters_arr.join("&");
      var new_url =  `${location.origin}${location.pathname}?${filters}`;
      location.href = new_url;

    });
  
  });
  </script>
</body>
</html>